

.main{
    padding-top: 60px;
}

body{
    margin: 0;
}

.Header{
 position: absolute;
 width: 100%;

}


@media screen and (max-width:1080px){
.Header{
    background-color: #fff;
    z-index: 10;
}
    
}

@media screen and (max-width:767px){
    .Header{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media screen and (max-width:1080px){
    .Header--common{
        position: fixed!important;
    }
}


.HeaderContainer{
    max-width: 100%;
    margin:0 36px;
    display: flex;
    justify-content:space-between;
    position: relative;
    
}




.HeaderContainer>*:last-child{
    display: inline-flex;
    
}

@media screen and (max-width:767px){
 .HeaderContainer{
     max-width: 100%;
     margin: 0 20px+
 }   
}






.HeaderLogo__image--pc{
    display: block;
    height: 20px;
    width: auto;
}


@media screen and (max-width:768px){
    .HeaderLogo{
        transition: opacity.2s
    }
    .HeaderLogo:hover{
        opacity:  .8
    }
    }


@media screen and (max-width:767px){
    .HeaderLogo__image--pc{

     display: none;
}
}

.HeaderLogo__image--sp{
    display:none;
    height: 16px;
    width: auto;
}

@media screen and (max-width:767px){
.HeaderLogo__image--sp{
    display: block;
}
}


img{
    border:0;
     vertical-align:middle;
    
}


.HeaderNav{
    display: inline-flex;
    justify-content: flex-end;
}
.HeaderNavList{
    display: flex;
    justify-content:space-between;
}

@media screen and (max-width:1080px){
    .HeaderNavList{
        overflow-y:scroll;
        position: fixed;
        top:60px;
        left:100%;
        width: 100%;
        display: block;
        padding-top: 20px;
        padding-bottom: 75px;
        transition: transform .5s;
        z-index: 99;
        background-color: rgba(0,0,0,.8);
        -webkit-overflow-scrolling:touch;
        height: 100%;
    }
}

@media screen and (max-width:767px){
        .HeaderNavList{
        top:52px;
        }
}
@media screen and (max-width:1080px){
    .HeaderNavList.is-active{
        transform:translate3d(-100%,0,0)
        
    }
    } 
    
@media screen and (max-width:1080px){
        .HeaderNavList.is-scroll{
            top:60px;
            bottom: 0;
        }
}

@media screen and (max-width:767px){
     .HeaderNavList.is-scroll{
           top: 52px;
           bottom: 0;
     }
}



ul{
    list-style: none;
}

.HeaderNavListItem{
    transition: opacity.2s;
    margin-right: 45px;
    
    
}

@media screen and (max-width:768px){
   
 .HeaderNavListItem:hover{
        opacity: .8

    }
}

@media screen and (max-width:1080px){
        .HeaderNavListItem{
          margin-right: 0;
        }
}


    


.HeaderNavListItem__link{
    display: block;
}

@media screen and (max-width:1080px){
.HeaderNavListItem__link{
   padding:20px 0;
}
}


a{
    color: #333;
    text-decoration: none;
    
}

a:hover{
    opacity: 0.6;
    
}
span{
    display: block;
    font-weight: 700;
    text-align: center;
    font-size: small;
    }
    

@media screen and (max-width:1080px){
span:first-child{
    font-size:16px;
    letter-spacing: 5px;
    color: #fff;
}
}

.HeaderNavListItem__link>span:last-child{
    font-size: 10px;
    
}

@media screen and (max-width:1080px){
.HeaderNavListItem__link>span:last-child{
font-size: 12px;
margin-top: 10px;
color: #f79214;
letter-spacing: 2px;
}
}

.HeaderNavListItem:last-of-type{
    margin-right: 0;
    
}

@media screen and (max-width:1080px){
.HeaderNavListItem:last-of-type{
    margin-top: 20px;
}
}




.HeaderNavListItem__button{
    align-items:center;
    background-color: #f79214;
    border:none;
    border-radius:38px;
    color: #fff;
    display: flex;
    flex-direction:column;
    font-weight: 700;
    justify-content:center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 12px;
    height: 40px;
    padding: 0 10px;
    
}

HeaderNavListItem__button:visited{
    color: #fff;
}

HeaderNavListItem__button span:first-child{
     font-size: 24px;
     font-weight: 700;
     line-height: 32px;
}

HeaderNavListItem__button span:last-child{
    font-size: 12px;
    line-height: 18px;
}

@media screen and (max-width:768px){
  .HeaderNavListItem__button{
      transition: opacity .2s;
  }
    .HeaderNavListItem__button:hover{
        opacity: .8;
    }
}

  


@media screen and (max-width:1080px){
.HeaderNavListItem__button{
font-size:16px;
margin: 0 auto;
height: 60px;
width: 250px;
}
}

.HeaderNavHamburger__button--recruit{
    margin-right: 0;
    padding: 0 !important;
    width: 104px;
}

.HeaderNavHamburger{
    display: none;
}

@media screen and (max-width:1080px){
.HeaderNavHamburger{
    cursor:pointer;
    display: block;
    position: relative;
    width: 30px;
    height: 21px;
    z-index: 100;
}
}

@media screen and (max-width:1080px){
.HeaderNavHamburger__line{
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #333;
    transform: translate(0,-50%);
    border-radius: 10px;
    transition: top .2s,transform .2s,opacity .3s;
}
}

@media screen and (max-width:1080px){
.HeaderNavHamburger__line:first-child{
    top: 0;
}
}

@media screen and (max-width:1080px){
.HeaderNavHamburger__line:last-child{
    top: 100%;
}
}

@media screen and (max-width:1080px){
.is-active.HeaderNavHamburger__line{
    will-change:top;
    transform: translate(20px,-50%);
    opacity: 0;
}
    
}

@media screen and (max-width:1080px){
.is-active.HeaderNavHamburger__line:first-child{
    top: 50px;
    transform: translate(0,-50%)rotate(45deg);
    opacity: 1
}
}

@media screen and (max-width:1080px){
.is-active.HeaderNavHamburger__line:last-child{
    top: 50%;
    transform:translate(0,-50%)rotate(-45deg);
    opacity: 1;
}
}

@keyframes modalopen{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        
    }
    }



main{
    display: block;
    
}


.FirstView{
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/styles/../images/home/first-view/top-hero.jpg);
    background-size:cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 28px;
}

@media screen and (max-width:767px){
    .FirstView{
        background-image: none;
        padding-top: 0;
        padding-bottom: 35px;
    }
}
.FirstView__main-image{
    width: 100%;
}


.FirstView__main-image--sp {
    display: none;
}

@media screen and (max-width: 767px){
    .FirstView__main-image--sp{
        display: block;
    }
}

.FirstView__container{
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
     
}


@media screen and (max-width: 767px){
    .FirstView__container{
        max-width: none;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 767px){
    .FirstView__container{
       margin-top: -45vw;
    }
}


.FirstViewContent{
    margin-bottom: 70px;
    width:fit-content;
}

@media screen and (max-width: 767px){
    .FirstViewcontent{
       margin-bottom: 20px;
       width: 100%;
    }
}

.FirstViewContent__title{
    color: #333;
    font-size: 38px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 15px;
    text-align: center;
    margin: 0;
    padding: 0;
    
}

@media screen and (max-width: 767px){
    .FirstViewContent__title{
        font-size: 25px;
        line-height: 36px;
        margin-left: calc(((100vw-100%)/2)*-1)
        margin-right: calc(((100vw-100%)/2)*-1)
    }
}


.FirstViewContent__images{
    margin-bottom: 25px;
}

@media screen and (max-width: 767px){
 .FirstViewContent__images{
     display: flex;
     justify-content:space-between;
     margin-bottom: 30px;
     width: 100%;
 }
}


.FirstViewContent__images img{
    margin-right: 8px;
}

@media screen and (max-width: 767px){
    .FirstViewContent__images img{
        width: 27.5%;
    }
    
}


img{
    border:0;
    vertical-align: middle;
}

.FirstViewContent__images img:nth-of-type(2){
    width: 40%;
    
}
.FirstViewContent__images img:last-of-type{
    margin-right: 0;
}

.FirstViewContent__buttons{
    display: flex;
}

@media screen and (max-width: 767px){
.FirstViewContent__buttons{
    flex-direction:column;
}
    
}

.FirstViewContent__buttons a:first-of-type{
    margin-right: 15px;
    width: 306px;

}

@media screen and (max-width: 767px){
    .FirstViewContent__buttons a:first-of-type{
    margin-right: 0;
    }
    
}


.FirstViewContent__buttons a:visited{
    color: #fff;
}

.FirstViewContent__buttons a{
    transition: opacity.2s;
}

.FirstViewContent__buttons a{
    align-items:center;
    background-color: #f79214;
    border:none;
    border-radius: 38px;
    cursor: pointer;
    display: flex;
    flex-direction:columu;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content:center;
    text-decoration: none;
    text-align: center;
    
    
}
    
.FirstViewContent__buttons a:last-of-type{
    background-color: #fff;
    border:1px solid #e0e0e0;
    color: #333;
    width: 176px;
}
@media screen and (max-width: 767px){
 .FirstViewContent__buttons a:last-of-type{
display: none;
 }   
}



@media screen and (max-width: 767px){
    .FirstViewContent__buttons a{
        transition: opacity:.2s;
    }
    .FirstViewContent__buttons a:hover{
        opacity: .8;
        
    }
}

@media screen and (max-width: 767px){
    .FirstViewContent__buttons a{
        width: 100% !important
    }
}

.FirstViewCaption {
  list-style: none;
  font-size: 12px;
  color:#C0C0C0;
  line-height: 1.5;
  margin-top: 50px;
}

.FirstViewCaption a{
    color:#C0C0C0;
    
}

.content__btn-active{
    display: flex;
    

}

.content__btn-active a{
    color: white;
}


.topinfo__footer{
  padding: 44px 0;
  background-color: #f79214;
  
}

@media screen and (max-width: 767px){
.topinfo__footer{
padding: 30px 0;
}
}



.About{
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-items:center;
    display: flex;
    justify-content:space-between;

}

@media screen and (max-width: 767px){
    .About{
        max-width: none;
        padding-left: 20px;
        padding-right: 20px;
    }
    }

@media screen and (max-width: 1024px){
    .About{
        flex-direction:column;
    }
}


@media screen and (max-width: 1024px){
video{
margin-bottom: 16px;
width: 75%;
}
}

@media screen and (max-width: 767px){
video{
    width: 100%;
}
}

.About__title{
    align-items:center;
    display: flex;
    flex-direction:column;
    margin-bottom: 60px;
    width: 100%;
    align-items:flex-start;
    margin-bottom: 0;
    margin-left: 32px;
    
    
}

.About__title h2{
    font-size: 51px;
    font-weight: 700;
    line-height: 74px;
    margin-bottom: 10px;
}

@media screen and (max-width: 767px){
    .About__title h2{
font-size: 33px;
line-height: 48px;
text-align: center;
}
}

.About__title h2 span{
    font-weight:900;
}

@media screen and (max-width: 767px){
    .About__title h2 span{
        letter-spacing: 1px;
    }
}

.About__title p{
    display: inline-block;
    font-size: 21px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 10px;
    text-align: center;
}

@media screen and (max-width: 767px){
.About__title p{

font-size: 16px;
line-height: 21px;
}
}



@media screen and (max-width: 767px){
.About__title{
    margin-bottom: 0;
    width: 100%;
}
}

@media screen and (max-width: 1024px){
.About__title{
    margin-left: 0;
    width: 75%;
}
}

.About__title h2,.About__title p{
    color: #fff;
    text-align: left;
}

.About__title h2{
    font-size: 38px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 54px;
    margin-bottom: 8px;
    width: 100%;
}

@media screen and (max-width: 400px){
 .About__title h2{
font-size: 33px;
line-height: 1.4;
white-space: pre;
word-break: keep-all;
}
}

.About__title h2>span{
    font-size: 38px;
}

.About__title p{
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 24px;
}

@media screen and (max-width: 1024px){
   .About__title p{
    margin-bottom: 32px;
   }
}



